<app-header [(collapsed)]="collapsed"></app-header>
<!--<app-sidebar></app-sidebar>-->
<!-- Represents the whole page under the toolbar-->
@if (appStore.loading()) {
  <app-progress-bar></app-progress-bar>
}
<mat-sidenav-container class="container" [dir]="i18n.direction()">

  <!-- Side navigation -->
  <!--  mode="over" [opened]="!isCollapsed"-->
  <mat-sidenav mode="side" opened [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
  </mat-sidenav>

  <!-- Main content -->
  <!--  <mat-sidenav-content-->
  <!--    class="content" [style.margin-left]="i18n.currentLang() === 'ar' ? '0' : sidenavWidth()"-->
  <!--    [style.margin-right]="i18n.currentLang() === 'ar' ? sidenavWidth() : '0'">  -->

  <mat-sidenav-content
    class="content"
    [style.margin-left]="marginLeft()"
    [style.margin-right]="marginRight()">

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
