<ng-container *transloco="let t">
<a mat-list-item
   class="menu-item"
   [routerLink]="routeHistory() + '/' + item().route"
   (click)="toggleNested()"
   routerLinkActive="selected-menu-item"
   #rla="routerLinkActive"
   [routerLinkActiveOptions]="{exact: true}"
   [activated]="rla.isActive"
   [style.--mat-list-list-item-leading-icon-start-space]="indentation()"
  >
<!--   [class.rtl]="i18n.direction() === 'rtl'"-->
  <mat-icon
    [fontSet]="rla.isActive ?'material-icons': 'material-icons-outlined'"
    matListItemIcon>{{ item().icon }}
  </mat-icon>
  <span matListItemTitle class="menu-item-label" *ngIf="!collapsed()">{{ t('sidebar.' + item().label)  || item().label}}</span>

  <span matListItemMeta>
    @if (item().subItems) {
      <span>
        @if (nestedMenuOpen()) {
          <mat-icon>expand_less</mat-icon>
        } @else {
          <mat-icon>expand_more</mat-icon>
        }
      </span>
    }
    @if (item().extraInfo) {
      <button mat-icon-button *ngIf="!collapsed()">
        <mat-icon>info</mat-icon>
    </button>
    }

  </span>
</a>

@if (item().subItems && nestedMenuOpen()) {
  <div @expandContractMenu>
    @for (subItem of item().subItems; track subItem.label) {
      <app-menu-item [item]="subItem" [collapsed]="collapsed()"
                     [routeHistory]="routeHistory() + '/' + item().route"></app-menu-item>
    }
  </div>
}
</ng-container>


