<div class="widgets-list">
  <div class="widgets-panel-header">
    <mat-icon>drag_indicator</mat-icon>
    <h3>Widgets</h3>
  </div>

  @for (widget of store.widgetsToAdd(); track widget.id) {
    <div class="widget-box" cdkDrag [cdkDragData]="widget.id">
      {{ widget.label }}
      <div *cdkDragPlaceholder></div>
    </div>
  } @empty {
    <div class="widget-box">
      No Widgets To Add
    </div>
  }

<!--  <div class="widgets-list">-->
<!--    @for (widget of store.widgetsToAdd(); track widget.id) {-->
<!--      <div class="widget-box" cdkDrag [cdkDragData]="widget">-->
<!--        {{ widget.label }}-->
<!--      </div>-->
<!--    } @empty {-->
<!--      <div class="widget-box">-->
<!--        No Widgets To Add-->
<!--      </div>-->
<!--    }-->
<!--  </div>-->
</div>
