<div class="dashboard-header">
  <h2>Dashboard</h2>

  <!--  <button-->
  <!--    mat-raised-button-->
  <!--    [style.&#45;&#45;mdc-protected-button-container-shape]="'0px'"-->
  <!--  >-->
  <!--    <mat-icon>add</mat-icon>-->
  <!--    Add Widget-->
  <!--  </button>-->

  <button
    mat-raised-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>add</mat-icon>
    Add Widget
  </button>
  <mat-menu #menu="matMenu">
    @for (widget of store.widgetsToAdd(); track widget.id) {
      <button mat-menu-item (click)="onAddWidget(widget)">{{widget.label}}</button>
    } @empty {
      <button mat-menu-item disabled >No Widgets To Add</button>
    }
  </mat-menu>
</div>
<div #dashboard class="dashboard-widgets" cdkDropListGroup>
  @for (widget of store.addedWidgets(); track widget.id) {
    <app-widget cdkDropList [data]="widget" (cdkDropListDropped)="drop($event)" [cdkDropListData]="widget.id"></app-widget>
  }
</div>
